/.phpunit.cache
/node_modules
/public/hot
/public/storage
/public/update-progress.html
/public/update-progress.php
/public/update-status.json
/storage/*.key
.env
*.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
.DS_Store
_license_update/
.cursor/
.ai/
.agent/
*.backup
*.tmp

# Composer Related
/vendor/**/.DS_Store
/vendor/**/.git
/vendor/**/.idea
/vendor/**/.vscode
/vendor/**/.svn
/vendor/**/.hg
/vendor/**/CHANGELOG
/vendor/**/CHANGELOG.md
/vendor/**/README
/vendor/**/README.txt
/vendor/**/README.md
/vendor/**/LICENSE
/vendor/**/LICENSE.txt
/vendor/**/LICENSE.md
/vendor/**/phpunit.xml
/vendor/**/phpunit.xml.dist
/vendor/**/phpcs.xml
/vendor/**/phpcs.xml.dist
/vendor/**/.editorconfig
/vendor/**/.gitattributes
/vendor/**/.gitignore
/vendor/**/.scrutinizer.yml
/vendor/**/.travis.yml
/vendor/**/.gitkeep
/vendor/**/.coveralls.yml
/vendor/**/.styleci.yml
/vendor/**/.stickler.yml
/vendor/**/.symfony
/vendor/**/.phan
/vendor/**/.nvmrc
/vendor/**/.env.example

# OS Specific
.DS_Store
Thumbs.db
Desktop.ini

# IDE Specific
/.idea/
/*.iml
/.vscode/
/*.code-workspace

# Log Files
*.log
*.log.*

# Temporary Files
*.tmp
*.temp
*.swp
*.swo

# Backup Files
*.bak
*.old
*.orig
*.save

# Package Managers
/pnpm-lock.yaml
/shrinkwrap.yaml
/.pnp/
/.pnp.js

# Other Configs
/coverage/
/.out/

# CI/CD
/.circleci/
/.gitlab-ci.yml
/.github/
/.travis.yml
/appveyor.yml
/.drone.yml
/.buildkite/
/azure-pipelines.yml

# Misc
.env.local
.env.development.local
.env.test.local
.env.production.local
.cache
.cache-loader
/.eslintcache
.parcel-cache
.nuxt
.next
out
.phpunit.result.cache
/.nuxt
/*.tsbuildinfo
/.firebase
/.vercel
/.netlify
/.expo
/.expo-shared

# Specific Tooling
/forge-release
/forge-deploy
/deployments
.idea/
*.sublime-project
*.sublime-workspace
*.tmproj
/.vagrant
/.ionic
/.serverless
/.fusebox
/.codecov.yml
/.nyc_output
/.mocha
/.wakatime-project

# Custom User Configuration Files
/user-config/
custom-settings.json
local.settings.json
*launch.json
*.launch.json

# Framework Specific
/.nuxt/
/.next/
/.nuxt-output/
/.next-output/
/.hugo_build.lock
/.hugo_cache
/.eleventy.js

# Static Site Generators
/public/admin/config.yml
/public/admin/config-dev.yml

# Cache and Log Files
/logs/
/logs/*

# Ignored Files Within Vendor
/vendor/**/node_modules
/vendor/**/bower_components

# Laravel Specific
/vendor/**/Examples
/vendor/**/benchmark
/vendor/**/example
/vendor/**/coverage
/vendor/**/travis
/vendor/**/benchmarks
/vendor/**/docker-compose.yml
/vendor/**/phpunit.xml.dist
/vendor/**/Vagrantfile
/vendor/**/Dockerfile
/vendor/**/CONTRIBUTING.md
/vendor/**/Contributing.md
/vendor/**/CONTRIBUTING